Upora/n8n/workflows/upora-message-email-brevo.json
{
  "name": "Upora – Send message as email (Brevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upora-message-email-brevo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "upora-message-email-brevo"
    },
    {
      "parameters": {
        "jsCode": "const fromAddress = $input.item.json.fromAddress || 'noreply@yourdomain.com';\nconst toUserEmail = $input.item.json.toUserEmail;\nconst title = $input.item.json.title;\nconst body = $input.item.json.body || '';\nreturn {\n  json: {\n    sender: { email: fromAddress, name: 'Upora' },\n    to: [{ email: toUserEmail }],\n    subject: title,\n    textContent: body\n  }\n};"
      },
      "id": "build-brevo-body",
      "name": "Build Brevo payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "api-key", "value": "YOUR_BREVO_API_KEY_HERE" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email via Brevo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Email sent\" } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Brevo payload", "type": "main", "index": 0 }]] },
    "Build Brevo payload": { "main": [[{ "node": "Send Email via Brevo API", "type": "main", "index": 0 }]] },
    "Send Email via Brevo API": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
