Upora/n8n/workflows/upora-message-email-smtp.json
{
  "name": "Upora – Send message as email (SMTP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upora-message-email-smtp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "upora-message-email-smtp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smtp2go.com/v3/email/send",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Smtp2go-Api-Key",
              "value": "YOUR_SMTP2GO_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "={{ $json.fromAddress || 'noreply@yourdomain.com' }}"
            },
            {
              "name": "to",
              "value": "={{ [ $json.toUserEmail ] }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.title }}"
            },
            {
              "name": "text_body",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email via SMTP2GO API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Email sent\" } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email via SMTP2GO API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via SMTP2GO API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
