Upora/n8n/workflows/upora-message-email-brevo.json
{
  "name": "Upora – Send message as email (Brevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upora-message-email-brevo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 304],
      "webhookId": "upora-message-email-brevo"
    },
    {
      "parameters": {
        "jsCode": "// Webhook v2 nests POST body under .body\nconst items = $input.all();\nconst raw = items[0].json;\nconst d = raw.body || raw; // fallback for test mode\nreturn [{\n  json: {\n    fromEmail: String(d.fromAddress || 'CONFIGURE_SENDER_IN_SUPER_ADMIN'),\n    fromName: String(d.fromName || 'Upora'),\n    toEmail: String(d.toUserEmail || ''),\n    emailSubject: String(d.title || 'No subject'),\n    emailBody: String(d.body || '')\n  }\n}];"
      },
      "id": "build-brevo-body",
      "name": "Build Brevo payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "api-key", "value": "YOUR_BREVO_API_KEY_HERE" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: $json.fromEmail, name: $json.fromName }, to: [{ email: $json.toEmail }], subject: $json.emailSubject, textContent: $json.emailBody }) }}",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email via Brevo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Email sent' }) }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 304]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Brevo payload", "type": "main", "index": 0 }]] },
    "Build Brevo payload": { "main": [[{ "node": "Send Email via Brevo API", "type": "main", "index": 0 }]] },
    "Send Email via Brevo API": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
